.services-section {
  @apply bg-[var(--background)] flex flex-row py-6 md:py-0 min-h-screen w-full px-4 md:px-0 items-center;
}

.services-header {
  @apply mb-10;
}

.services-title {
  @apply mb-3 text-4xl font-bold;
}

.services-cards {
  @apply grid gap-5 ml-1;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 1200px;
}

.service-card {
  @apply p-5 bg-[var(--cardColor)] h-80 rounded-lg flex flex-col justify-center gap-10 border border-[var(--border)] cursor-default transition-all duration-300 hover:scale-105 hover:border-gray-500;
}

.service-card:hover {
  @apply border-[var(--spanhover)] transition-all ease-in-out;
  scale: 1.01;
}

.title-card {
  @apply text-2xl font-bold;
}

.card-infos {
  @apply flex flex-col gap-1;
}

.card-icon .icon-card {
  @apply text-6xl text-[var(--spancolor)];
}

@media (max-width: 768px) {
  .services-title {
      @apply mb-3 text-4xl font-bold;
  }

  .services-cards {
      @apply gap-4;
  }
  
  .services-header {
      @apply mb-8 text-left;
  }
}

@media (max-width: 700px) {
  .services-cards {
      @apply gap-5 w-full;
      grid-template-columns: 1fr;
  }
  
  .service-card {
      @apply w-full;
  }
}
