@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
}

body {
    transition: opacity 0.5s ease-in-out;
    font-family: "Roboto Condensed", sans-serif;
}

.navbar {
    padding: 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.background {
    position: relative;
    background-color: #040404;
    height: 115dvh;
    width: 100%;
    background-size: cover;
}

.navbar.scrolled {
    background-color: #020202e5; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.nav {
    padding: 15px 10%;
    width: 100%;
    background-color: #cccccc00;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.nav>.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideRight .8s forwards;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    font-size: 18px;
    animation: slideLeft .8s forwards;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    font-size: 17px;
    position: relative;
    margin-right: 10px;
}

.nav>.nav-links>a:nth-child(-n+4)::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #b9030f;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.active {
    background: linear-gradient(to top, rgba(158, 0, 8, 0.21), rgba(158, 0, 3, 0), rgba(158, 0, 0, 0));
    transition: background-color 0.3s ease-in-out;
}

.nav>.nav-links>a:nth-child(5) {
    background: #b9030f;
    border-radius: 2px;
    padding: 7.5px 20px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.nav>.nav-links>a:nth-child(5):hover {
    background: #9e0004;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.nav>.nav-links>a:nth-child(-n+4):hover::after,
.nav>.nav-links>a:nth-child(-n+4).active::after {
    width: 100%;
}

.nav>.nav-links>a:hover::after {
    width: 100%;
}

.nav>.nav-links>a:hover {
    background: linear-gradient(to top, rgba(158, 0, 8, 0.21), rgba(158, 0, 3, 0), rgba(158, 0, 0, 0));
    transition: background-color 0.3s ease-in-out;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:768px) {
    #navbar {
        background-color: rgb(10, 10, 10);
    }

    .nav {
        padding: 15px 45px;
        z-index: 99;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5px;
        width: 50px;
        height: 60px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        color: white;
    }

    .nav>.nav-btn>label>span {
        display: block;
        align-items: center;
        width: 20px;
        height: 5px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        background-color: rgb(10, 10, 10);
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        left: 0px;
        -webkit-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.75);
    }

    .nav>.nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav>.nav-links>a {
        display: block;
        width: 98%;
        margin-right: 0;
    }

    .active {
        background: 0;
        border-width: 40px;
        border-bottom: 3px solid #9e000585;
        transition: background-color 0.3s ease-in-out;
    }


    .nav>.nav-links>a:hover {
        background: 0;
        transition: background-color 0.3s ease-in-out;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(350px - 50px);
        padding-top: 15px;
        overflow-y: auto;
    }

    .nav>.nav-links>a:nth-child(-n+3)::after {
        height: 0;
    }

    .nav>.nav-links>a:nth-child(4) {
        padding: 10px 15px;
        display: flex;
        justify-content: center;
    }
}

/*home*/

#ctner-home-landing {
    height: 93dvh;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right-content {
    animation: slideTop .8s forwards;
}

#left-content {
    animation: slideRight .8s forwards;
}

.name-head {
    font-size: 7.5vh;
    font-weight: bold;

}

.box-text {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    background-color: #b9030f;
    border: 1px solid #b9030f;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

.box-text::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #b9030f transparent transparent transparent;
}

#card-icon {
    display: flex;
    gap: 5px;
}

#landing-description {
    width: 85%;
}

.socialContainer {
    width: 5.5vh;
    height: 5.5vh;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

.containerOne:hover {
    background-color: #b9030f/*#d62976*/;
    transition-duration: .3s;
}

.containerTwo:hover {
    background-color: #b9030f/*#00acee*/;
    transition-duration: .3s;
}

.containerThree:hover {
    background-color: #b9030f/*#0072b1*/;
    transition-duration: .3s;
}

.containerFour:hover {
    background-color: #b9030f/*#128C7E*/;
    transition-duration: .3s;
}

.socialSvg {
    width: 22px;
    color: white;
    font-size: 25px;
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top .3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.buttons-landing {
    display: flex;
    text-align: center;
    gap: 10px;
}

.buttons-landing a:nth-child(2) {
    border: 1px solid #b9030f;
    padding: 15px 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 2vh;
    border-radius: 2px;
}

.buttons-landing a:nth-child(1) {
    background-color: #b9030f;
    padding: 12px 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
}

@media (width <=767px) {
    .conteudo.row {
        padding-top: 15vh;
    }

    .buttons-landing {
        flex-direction: column;
        gap: 10px;
    }

    .name-head {
        font-size: 6.5vh;
    }

    .socialContainer {
        width: 6vh;
        height: 6vh;
    }

    .socialSvg {
        width: 22px;
        color: white;
        font-size: 25px;
    }

    #landing-description {
        width: 100%;
    }
}

@media (width <=395px) {
    #ctner-home-landing {
        height: 108dvh;
    }

    .conteudo.row {
        padding-top: 5vh;
    }

    .buttons-landing {
        flex-direction: column;
        gap: 10px;
    }

    .name-head {
        font-size: 6.5vh;
    }

}

@media (width <=385px) {
    #ctner-home-landing {
        height: 115dvh;
    }

    .conteudo.row {
        padding-top: 0vh;
    }

    .buttons-landing {
        flex-direction: column;
        gap: 10px;
    }

    .name-head {
        font-size: 6.5vh;
    }

    .background {
        height: 120dvh;
        width: 100%;
    }

    .description {
        font-size: 2.3vh;
    }
}

@media (width <=365px) {
    #ctner-home-landing {
        height: 93dvh;
    }

    .conteudo.row {
        padding-top: 15vh;
    }

    .buttons-landing {
        flex-direction: column;
        gap: 10px;
    }

    .name-head {
        font-size: 6.5vh;
    }

    .background {
        height: 120dvh;
        width: 100%;
    }
}

@media (width <=335px) {
    #ctner-home-landing {
        height: 95dvh;
    }

    .conteudo.row {
        padding-top: 25vh;
    }

    .buttons-landing {
        flex-direction: column;
        gap: 10px;
    }

    .name-head {
        font-size: 35px;
    }

    .description {
        font-size: 12px;
    }

    .background {
        height: 120dvh;
        width: 100%;
    }
}

.right-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*bellow-home*/
/*bellow-home*/
/*bellow-home*/

#bellow-home {
    display: flex;
    background-color: #040404;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bellow-landing {
    display: flex;
    padding-top: 15vh;
    padding-bottom: 15vh;
    height: 100%;
    overflow: hidden;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.text-bellow {
    animation: slideLeft 1s forwards;
    width: 80%;
}

#left-img {
    animation: fadeIn 2s forwards;
    animation: slideRight 1s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    position: relative;
    border-radius: 6px;
    overflow: visible;
}

.experience>.progress, h6 {
    margin-bottom: 17px;
}

.progress-bar {
    border-radius: 6px;
    background-color: #b9030f;
    position: relative;
    transition: width .6s ease;
}

.progress-bar::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 27px;
    top: 50%;
    right: -0px;
    transition: width .6s ease;
    transform: translate(50%, -50%);
    background-color: #ffffff;
    border: 3px solid #b9030f;
}

/*services*/

.services, .contact {
    overflow: hidden;
    margin-bottom: 15vh;
}

.text-head {
    flex-direction: column;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    align-items: center;
    animation: slideTop 1s forwards;
    position: relative;
}

.text-head h1 {
    position: relative;
    display: inline-block;
    padding-bottom: 20px; 
}

.text-head h1:after {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    top: 100%;
    left: 50%;
    background-color: #b9030f;
    height: 5px;
    width: 70%;
    border-radius: 3px;
}

.ctner {
    width: 60%;
}

.card {
    background-color: #0a0a0a;
    height: 320px;
    padding: 7px;
    color: white;
    border-radius: 10px;
}

.card ion-icon {
    margin-top: 30px;
    color: #b9030f;
    font-size: 60px;
    padding-left: 15px;
}

.card-body {
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-title {
    font-weight: bold;
}

/*projects*/

.projects {
    position: relative;
    width: 100%;
    margin-bottom: 17vh;
    overflow: hidden;
}

.projects .ctner {
    width: 50%;
}



/*contact*/

.contact {
    width: 65%;
}

.contact .ctner {
    width: 100%;
}

.left-infos {
    display: flex;
    flex-direction: column;
    animation: slideBottom 1s forwards;
}

.infos-contact .info-principal{
    color: white;
    padding-left: 26px;
}

.infos-contact .icon {
    display: flex;
    color: rgb(167, 167, 167);
    margin-bottom: -15px;
}

.infos-contact ion-icon {
    color: #b9030f;
    margin-right: 5px;
    font-size: 18px
}

.right-infos {
    animation: slideTop 1s forwards;
}

.form-contact {
    position: relative;
    color: #dbdbdb;
}

.form-contact p {
    font-size: 12px;
    margin-bottom: 15px;
}

.form-contact input {
    width: 250px;
    height: 60px;
    border-radius: 7px;
    font-size: 14px;
    padding: 0.15px 20px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(34, 34, 34);
    margin-right: 10px;
    margin-bottom: 20px;
    color: #fff;
}

.form-contact textarea {
    width: 98%;
    height: 100px;
    border-radius: 7px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(34, 34, 34);
    padding-left: 15px;
    padding-top: 25px;
    color: white;
}

.form-contact label{
    position: absolute;
    color: #dbdbdb;
    top: 55%;
    font-size: 14px;
    left: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .3s ease;
}

.form-contact input:focus {
    border: 1.5px solid #b9030f;
}

.form-contact textarea:focus {
    border: 1.5px solid #b9030f;
}

.form-contact input:focus ~ label,
.form-contact input:valid ~ label{
    top: 35%;
    font-size: 14px;
    padding: 0 10px;
    background-color: #040404;
}

.form-contact textarea:focus ~ label,
.form-contact textarea:valid ~ label{
    top: 25%;
    font-size: 14px;
    padding: 0 10px;
    background-color: #040404;
}

/*footer*/

.footer-content-all {
    background-color: #050505;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.footer-layout {
    justify-content: space-around;
    display: flex;
    padding: 15px;
    color: white;
    width: 100%;
}

.footer-layout img {
    margin-top: 3px;
    margin-bottom: 5px;
    width: 80px;
    height: 40px;
}

@media (width <=920px){
    .footer-layout {
        row-gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .social-media {
        order: 1;
        margin-top: 10px;
    }
}

.social-media {
    display: flex;
    gap: 35px;
    align-items: center;
}

.social-media a{
    color: white;
    font-size: 22px;
    transition: .3s;
}

.social-media a:hover{
    color: #9e0004;
    transition: .3s;
}


.footer-layout .nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-layout .nav-links a{
    color: #808080;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.footer-layout .nav-links a:hover{
    color: #b9030f;
    transition: 0.3s ease-in-out;
}

.button {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.footer-layout .action-button {
    background: #b9030f;
    color: white;
    border-radius: 2px;
    padding: 7.5px 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease-in-out;

}

.footer-layout .action-button:hover {
    background: #9e0004;
}

@media (width <=950px) {
    .text-bellow {
        width: 100%;
    }

    .ctner {
        width: 60%;
    }

    .projects .ctner {
        width: 100%;
    }
}

@media (width <=768px) {
    .text-bellow {
        width: 100%;
    }

    .ctner {
        width: 70%;
    }

    .contact {
        width: 70%;
    }
}

@media (width <=575px) {
    .col-xs-6 {
        flex: 0 0 50%;
        min-width: 50%;
    }

    .ctner {
        width: 80%;
    }

    .contact {
        width: 90%;
    }
}

@media (width <=485px) {
    #ctner-home-landing {
        width: 90%;
    }

    .bellow-landing {
        width: 100%;
    }

    .ctner {
        width: 90%;
    }

    .projects .ctner {
        width: 95%;
    }

    .card-body {
        padding: 15px;
    }

 

}

@media (width <=475px) {
    .col-xs-6 {
        flex: 0 0 90%;
        min-width: 90%;
    }

    .card {
        background-color: #161616;
        height: 270px;
        color: white;
        
    }

    .card-body {
        margin-top: 10px;
    }
    
}

/*keyframes animation*/

@keyframes slideLeft {
    from {
        transform: translateX(50%) translateY(50%);
        opacity: 0;
    }

    to {
        opacity: 1;
        
    }
}

@keyframes slideTop {
    from {
        transform: translateY(10%) translateX(10%);
        opacity: 0;
        
    }

    to {
        opacity: 1;
    }
}

@keyframes slideBottom {
    from {
        transform: translateY(-10%) translateX(10%);
        opacity: 0;
        
    }

    to {
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-50%) translateY(-50%);

        opacity: 0;
    }

    to {
        opacity: 1;
    }
}