.about {
    @apply flex flex-col items-center min-h-screen justify-center ;
  }
  
  .about-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 3.5rem
  }
  
  .about-content {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
  }
  
  .about-header {
    padding-inline: 4rem 14rem;
    max-width: 950px;
  }
  
  .about-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 25%;
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.05rem;
    color: var(--textcolor);
  }
  
  .aboutFooter {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  
  .aboutLink {
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
  }
  
  .aboutLink:hover {
    color: var(--spancolor);
    transition: 0.2s ease-in-out;
  }
  
  @media (max-width: 992px) {
    .about {
      @apply flex flex-col items-start min-h-[30vh] justify-start ;
    }
    .about-content {
      flex-direction: column;
    }
  
    .about-image img {
      max-width: 100%;
      display: none;
    }
  
    .about-header {
      padding-inline: 1rem;
      max-width: 880px;
    }
  
    .about-text {
      font-size: 1.05rem;
    }
  
    .aboutFooter {
      margin-bottom: 5rem;
    }
  
    .aboutLink {
      font-size: 2.5rem;
      transition: 0.2s ease-in-out;
    }
  }