@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --spancolor: #7f15f8;
  --spanhover: #8700e0;
  --heroBg: #f9f9f9;
  --secondBackground: #f7f7f7;
  --cardColor: #fafafa;
  --border: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060606;
    --foreground: #ededed;
    --textcolor: #fff;
    --spancolor: #7f15f8;
    --spanhover: #8320f5;
    --heroBg: #080808;
    --secondBackground: #080808;
    --cardColor: #101010;
    --border: #222222;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: var(--spancolor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--spanhover);
}

body {
  padding-top: 8rem;
  color: var(--foreground);
  box-sizing: border-box;
  background: var(--background);
  font-family: consolas;
}



/*hero*/



/*section service*/


/*about me*/

/*projects section*/



/*form*/