@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --spancolor: #9215f8;
  --spanhover: #8700e0;
  --heroBg: #f9f9f9;
  --secondBackground: #f7f7f7;
  --cardColor: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060606;
    --foreground: #ededed;
    --textcolor: #fff;
    --spancolor: #9215f8;
    --spanhover: #8700e0;
    --heroBg: #080808;
    --secondBackground: #080808;
    --cardColor: #101010;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: var(--spancolor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--spanhover);
}

/*elements*/

.greenButton {
  background-color: var(--spancolor) !important;
  color: #fff !important;
  padding: 10px 27px;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.greenButton:hover {
  background-color: var(--spanhover) !important;
  color: #fff !important;
  padding: 10px 27px;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

body {
  padding-top: 8rem;
  color: var(--foreground);
  box-sizing: border-box;
  background: var(--background);
  font-family: consolas;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: var(--background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
}

.navbar-container .logo h1 {
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
}

.span-color {
  color: var(--spancolor) !important;
  transition: 0.3s ease-in-out;
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

.navbar-links a {
  font-weight: bold;
  color: var(--textcolor);
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: 0.3s ease-in-out;
  letter-spacing: 1px;
}

.navbar-links a::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--spancolor);
  width: 0%;
  top: 30px;
  left: 0;
  transition: width 0.3s ease;
}

.navbar-links a.active {
  padding: 0 10px;
  font-size: 1.1rem;
}

.navbar-links a:hover::before,
.navbar-links a.active::before {
  width: 100%;
}

.toggle-btn {
  display: none;
  background-color: transparent;
  color: var(--textcolor);
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.mobile-button {
  display: none;
}

@media (max-width: 1300px) {
  .navbar {
    background-color: var(--background);
  }
  .navbar-container {
    padding: 1.5rem 4rem;
  }
}

@media (max-width: 1150px) {
  .navbar-container {
    padding: 1rem 2rem;
  }

  .navbar-links {
    margin-left: 1.5rem;
  }
}

@media (max-width: 990px) {
  .navbar {
    background-color: var(--background);
  }
  .navbar-container {
    padding: 0.8rem 1.3rem;
  }
  .navbar-links {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: var(--background);
    text-align: center;
    margin: 0;
  }

  .navbar-links li {
    padding: 15px 15px;
    margin: 0;
  }

  .toggle-btn {
    display: block;
  }

  .navbar-links.active {
    display: block;
  }

  body {
    padding-top: 5rem;
  }
  .mobile-button {
    display: block;
  }
  .CV {
    display: none;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(1%);
  }
}

.navbar-links.active {
  animation: slideUp 0.3s ease-out forwards;
}

/*hero*/

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10rem;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 13rem;
  color: var(--textcolor);
  width: 100%;
  gap: 30px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  max-width: 40rem;
  height: 580px;
  border-radius: 30px;
  background-color: var(--heroBg);
}

.hero h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.hero h1 {
  font-size: 5rem;
  font-weight: bold;
}

.hero h1 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid var(--spanhover);
  width: 4.3ch;
  animation: typing 3s steps(10) infinite, blink-caret 0.55s step-end infinite;
}

@keyframes typing {
  0% {
    width: 4.3ch;
  }
  100% {
    width: 11ch;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.hero .hero-desc {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.hero-image {
  max-width: 550px;
  width: 100%;
  border-radius: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero .icons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
  font-size: 20px;
}

.hero .icon-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.hero .icon-content p {
  margin-top: -4px;
  font-size: 1rem;
}

.hero .icon-content i {
  color: var(--spancolor);
}

.hero-footer {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1655px) {
  .hero {
    padding-inline: 14rem;
  }
}

@media (max-width: 1505px) {
  .hero {
    padding-inline: 7rem;
  }

  .hero h1 {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: left;
  }

  .hero-image {
    margin-top: 1.5rem;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1rem;
  }
}

@media (max-width: 900px) and (max-height: 1300px) {
  .hero {
    padding: 1.5rem;
  }
  .hero-text {
    padding: 0 3rem;
    height: 570px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 1.5rem;
  }
  .hero-text {
    padding: 0 2rem;
    max-width: 650px;
    height: 550px;
  }
}

@media (max-width: 568px) {
  .hero {
    padding: 0 1rem;
  }
  .hero-text {
    padding: 0 20px;
    max-width: 40rem;
    height: 530px;
  }

  .hero h1 {
    font-size: 3.5rem;
  }

  .hero-footer {
    display: flex;
    gap: 20px;
    margin-block: 1rem 0.7rem;
  }

  .hero .hero-desc {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .hero-text {
    height: 540px;
  }

  .hero-footer {
    display: flex;
    gap: 1rem;
    margin-block: 1rem 0.7rem;
  }

  .hero h1 {
    font-size: 3rem;
    line-height: 3.7rem;
    margin-block: 0.5rem 1rem;
  }

  .hero .hero-desc {
    font-size: 0.952rem;
  }
}

@media (max-width: 360px) and (max-height: 760px) {
  .hero-text {
    height: 500px;
  }
}

@media (max-width: 360px) {
  .hero-text {
    height: 540px;
  }

  .hero-footer {
    display: flex;
    gap: 1rem;
    margin-block: 1rem 0.7rem;
  }

  .hero h1 {
    font-size: 2.7rem;
    line-height: 3.7rem;
    margin-block: 0.5rem 1rem;
  }

  .hero .hero-desc {
    font-size: 0.952rem;
  }

  .hero .icon-content p {
    font-size: 0.9rem;
  }
}

/*section service*/

.services-section {
  background-color: var(--secondBackground);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8rem 1rem;
  align-items: center;
}

.services-header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.services-title {
  margin-bottom: 0.8rem;
  font-size: 3rem;
  font-weight: bold;
}

.services-desc {
  font-size: 1.1rem;
}

.services-cards {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.service-card {
  padding: 1.3rem;
  background-color: var(--cardColor);
  height: 20rem;
  width: 20rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  border: 1px solid #222222;
  cursor: default;
  transition: border-color 0.3s ease-in-out, scale 0.3s ease-in-out;
}

.service-card:hover {
  border-color: var(--spanhover);
  transition: 0.3s ease-in-out;
  scale: 1.05;
}

.title-card {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-icon .icon-card {
  font-size: 3rem;
  color: var(--spancolor);
}

@media (max-width: 768px) {
  .services-cards { 
    gap: 1rem;
  }
  .services-header {
    margin-bottom: 2rem;
    text-align: left;
  }
}

/*about me*/

.about {
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-title span {
  display: inline-block;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid var(--spanhover);
  width: 0ch;
  animation: typinG 3s steps(10) infinite, blink-careT 0.5s step-end infinite;
}

@keyframes typinG {
  0% {
    width: 0;
  }
  100% {
    width: 7ch;
  }
}

@keyframes blink-careT {
  50% {
    border-color: transparent;
  }
}

.about-content {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.about-header {
  padding-inline: 6rem;
  max-width: 880px;
}

.about-image img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  object-position: 25%;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.2rem;
  color: var(--textcolor);
}

.aboutFooter {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.aboutLink {
  font-size: 2.5rem;
  transition: 0.2s ease-in-out;
}

.aboutLink:hover {
  color: var(--spancolor);
  transition: 0.2s ease-in-out;
}

@media (max-width: 992px) {
  .about-content {
    flex-direction: column;
  }

  .about-title {
    margin-top: 4rem;
  }

  .about-image img {
    max-width: 100%;
    display: none;
  }

  .about-header {
    padding-inline: 1rem;
    max-width: 880px;
  }

  .about-text {
    font-size: 1.05rem;
  }

  .aboutFooter {
    margin-bottom: 5rem;
  }

  .aboutLink {
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
  }
}

/*projects section*/

.projects-section {
  display: flex;
  background-color: var(--secondBackground);
  flex-direction: row;
  justify-content: center;
  padding: 8rem 1rem;
  align-items: center;
}

.projects-header {
  text-align: center;
  margin-bottom: 3rem;
}

.projects-title {
  margin-bottom: 0.8rem;
  font-size: 3rem;
  font-weight: bold;
}

.projects-cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.projects-card {
  background-color: var(--cardColor);
  height: 32rem;
  width: 22rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 3rem;
  flex-shrink: 0;
  transition: scale 0.3s ease-in-out;
}

.projects-card:hover {
  scale: 1.05;
}

.projects-card .title-card {
  font-size: 1.3rem;
  font-weight: bold;
}

.projects-card .card-infos {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 0.5rem;
  flex-grow: 1;
}

.card-icon .image-card {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 14rem;
}

.picks {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.pickFilter {
  padding: 10px 25px;
  border: 1px solid var(--spancolor);
  border-radius: 25px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.pickFilter.active {
  background-color: var(--spancolor);
  font-weight: bold;
  color: #fff;
}

.pickFilter:hover {
  background-color: var(--spanhover);
  transition: 0.2s ease-in-out;
  color: #fff;
}

.projectCta {
  margin-top: auto !important;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.projectsCta {
  display: flex;
  justify-content: center;
}

@media (max-width: 450px) {
  .projects-card {
    width: 100%;
    margin-bottom: 1rem;
  }

  .projectsCta {
    margin-top: 1rem;
  }
}

/*form*/

.contact-section {
  background-color: var(--background);
  width: 100%;
  overflow: hidden;
  padding: 5rem 10rem;
}

.contact-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
}

.email-icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 2rem;
}

.email-icon i {
  top: 1px;
  position: relative;
  color: var(--spancolor);
  font-size: 25px;
}

.contact-info {
  flex: 1;
  max-width: 50%;
}

.contact-info h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact-info p {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.form-container {
  flex: 1;
  max-width: 50rem;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  max-width: 75vh;
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  position: relative;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 2.2rem 1.3rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--cardColor);
  transform: translateY(-50%);
}

.form-group label {
  display: block;
  font-size: 1rem;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 1.3rem;
  font-size: 1rem;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: 20%;
  font-size: 0.8rem;
}

.form-group textarea:focus ~ label,
.form-group textarea:valid ~ label {
  top: 8%;
  font-size: 0.8rem;
}

.message {
  resize: none;
}

.form-button {
  padding: 15px;
  width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 900px) and (max-height: 1300px) {
  .contact-section {
    padding-inline: 1rem;
  }
}

@media (max-width: 768px) {
  .contact-section {
    padding: 1rem;
  }
  .contact-hero {
    flex-direction: column;
    padding: 0rem;
  }

  .contact-info,
  .form-container {
    max-width: 25rem;
    width: 100%;
  }

  .contact-info h1 {
    font-size: 3rem;
  }

  .contact-form {
    padding: 0rem;
  }

  .name-container {
    flex-direction: column;
  }

  .name-field {
    flex: none;
    width: 100%;
  }
}
