@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --spancolor: #7f15f8;
  --spanhover: #8700e0;
  --heroBg: #f9f9f9;
  --cardColor: #fafafa;
  --border: #e5e5e5;
}

/** @media (prefers-color-scheme: dark) {
  :root {
    --background: #040404;
    --foreground: #ededed;
    --textcolor: #fff;
    --spancolor: #7f15f8;
    --spanhover: #8320f5;
    --heroBg: #060606;
    --cardColor: #070707;
    --border: #171717;
  }
}
**/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040007;
    --foreground: #e7d9ff;
    --textcolor: #e7d9ff;
    --spancolor: #7f15f8;
    --spanhover: #8320f5;
    --heroBg: #05010a;
    --cardColor: rgb(6, 0, 10);
    --border: #13002b;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: var(--spancolor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--spanhover);
}

body {
  color: var(--foreground);
  box-sizing: border-box;
  background: var(--background);
  font-family: space grotesk, sans-serif;
}

