.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.3s ease-in-out;
  }
  
  .navbar-container {
    display: flex;
    padding: 1.2rem 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--background);
    transition: 0.3s ease-in-out;
  }
  
  .navbar-container .logo h1 {
    font-weight: bold;
    margin: 0;
    font-size: 1.5rem;
  }
  
  .span-color {
    color: var(--spancolor) !important;
    transition: 0.3s ease-in-out;
  }
  
  .navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
  }
  
  .navbar-links a {
    color: var(--textcolor);
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  
  .navbar-links a::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--spancolor);
    width: 0%;
    top: 30px;
    left: 0;
    transition: width 0.3s ease;
  }
  .navbar-links a:hover::before,
  .navbar-links a.active::before {
    width: 100%;
  }
  
  .toggle-btn {
    display: none;
    background-color: transparent;
    color: var(--textcolor);
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  .mobile-button {
    display: none;
  }
  
  @media (max-width: 990px) {
    .navbar-links {
      display: none;
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      background-color: var(--background);
      text-align: center;
      margin: 0;
      padding-bottom: 1rem;
    }
  
    .navbar-links li {
      padding: 15px 0;
      margin: 0;
    }
  
    .toggle-btn {
      display: block;
    }
  
    .navbar-links.active {
      display: block;
    }
  
    body {
      padding-top: 5rem;
    }
    .mobile-button {
      display: block;
    }
    .CV {
      display: none;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(1%);
    }
  }
  
  .navbar-links.active {
    animation: slideUp 0.3s ease-out forwards;
  }